{% extends 'base.html' %}

{% block content %}
<div class="main">
    <h2 class="main-title">글수정</h2>
    <table class="table write">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <th><label for="category">카테고리</label></th>
                <td>
                    <select id="category" name="{{ form.category.name }}">
                        {% for choice in form.category.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == form.initial.category %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="board-title">제목</label></th>
                <td><input type="text" id="board-title" name="{{ form.title.name }}" value="{{ form.initial.title }}"></td>
            </tr>
            <tr>
                <th><label for="board-content">내용</label></th>
                <td><textarea name="{{ form.content.name}}" id="board-content">{{ form.initial.content }}</textarea></td>
            </tr>
            <tr>
                <th><label for="board-content">사진</label></th>
                <td><input type="file" id="file_upload" name="{{ form.file_upload.name }}" value="{{ form.initial.file_upload }}"></td>
            </tr>
    </table>
        <div class="btn-group">
            <button type="submit" class="btn">수정</button>
        </div>
    </form>
</div>
{% endblock %}