{% extends 'base.html' %}

{% block content %}

<div class="main">

    <h2 class="main-title">글 조회</h2>

    <h2>제목: {{ post.title }}</h2>
    
    <!-- 글 상세화면 -->
    <div class="view-info">
        <p>카테고리: {{ post.category }}</p>
        <p>작성자: {{ post.writer }}</p>
        <p>작성일: {{ post.created_at }}</p>
        <p>조회수: {{ post.hit }}</p>
    </div>
    <p>내용: {{ post.content }}</p>
    
    <div class="btn-group">
        <a href="{% url 'blog:list' %}" class="btn">목록</a>
        {% if post.writer == request.user %}
            <a href="{% url 'blog:edit' pk=post.pk %}" class="btn">수정</a>
            <form action="{% url 'blog:delete' pk=post.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="삭제" class="btn">
            </form>
            {% endif %}
        
    </div>
</div>
<h3>댓글</h3>
<form action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
    {% csrf_token %}
    {{ comment_form.content }}
    <input type="submit" value="댓글 작성">
</form>
<br>

<!-- comments -->
<!-- if 문 -->
{% if comments %}
    <ul>
    {% for comment in comments %}
    <li>{{ comment.content }} /{{comment.created_at}}
        {% if comment.writer == request.user %}
        <form action="{% url 'blog:cm-delete' pk=comment.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="X" class="btn">
        </form>
        {% endif %}
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>댓글이 없습니다.</p>
{% endif %}
{% endblock %}